<div>
  <%=image_tag("tnlogo.jpg", alt: "Example Image")%>
</div>

User: <%=session['userid']   %>
<div class = "center">
  <h1> View History</h1>
</div>

<div class= "center">
  <table class="history-table">
    <tr class="history-table-header">
      <th class="history-table-title">
        Action
      </th>
      <th class="history-table-title">
        User
      </th>
      <th class="history-table-title">
        Date
      </th>

    </tr>
    <% @actionHistory.each do |item| %>

        <tr class="history-table-row">
          <td class="history-table-data"><%= item.action %></td>
          <td class="history-table-data"><%= item.userName %></td>
          <td class="history-table-data"><%= item.date.strftime("%m/%d/%Y") %></td>
        </tr>
    <% end %>

  </table>
</div>

